@{
    ViewBag.Title = "Home Page";
}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <title>@ViewBag.Title</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Content/sb-admin.css" rel="stylesheet">    
    <link href="~/Content/Site.css" rel="stylesheet" />
    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>
    <ol class="breadcrumb">
        Add new prize to list
    </ol>   
    <form id="formoid" title="" method="post">
        <div>
            <table>                    
                <tr><td><label class="title">Prize name</label></td></tr>
                <tr><td><input type="text" id="Name" name="name"></td></tr>
                <tr><td><label class="title">Description</label></td> </tr>  
                <tr><td>​<textarea id="Description" rows="10" cols="70" value="data.Name"></textarea></td>  
                <tr><td><label class="title">Is prize won </label></td> </tr>  
                <tr><td><input type="checkbox" id="IsWon" name="IsWon" value="false"></td></tr>                  
            </table>
            <p></p>
            <p></p>
            <input type="button" onclick="savePrize()" id="submitButton" name="submitButton" value="Add prize">
            <input type="button" onclick="window.location.href='../Prize/Index'" id="cancelButton" name="cancelButton" value="Cancel">
        </div>
    </form>    
</body>
@section Scripts
{
    <script src="~/Scripts/App/Prizes/prizeService.js"></script>   
}   










    
   
       
    
