@{
    ViewBag.Title = "Home Page";
    var json = Json.Encode("data");
    Response.Write(json);
}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <title>@ViewBag.Title</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Content/sb-admin.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>    
    <ol class="breadcrumb">
        Add new prize to list
    </ol>

    <form id="formoid" title="" method="post">
        <div>
            <label class="title">Prize name</label>
            <input type="text" id="Name" name="Name" value="data.Name">
        </div>
        <div>
            <label class="title">Description</label>           
            ​<textarea id="Description" rows="10" cols="70" value="data.Name"></textarea>
        </div>
        <div>
            <label class="title">Is prize won </label>
            <input type="checkbox" id="IsWon" name="IsWon" value=prize.IsWon>
        </div>
        <div>
            <input type="button" onclick="editPrize(@ViewBag.Position)" id="editButton" name="editButton" value="Save Changes">
            <input type="button" onclick="window.location.href='../Index'" id="cancelButton" name="cancelButton" value="Cancel">
        </div>
    </form>
    <div>
        <p></p>
        @Html.ActionLink("Back to the list", "Index", "Prize/Index")
    </div>    
</body>
@section Scripts
{
    <script src="~/Scripts/App/Prizes/prizeService.js"></script>
    <script>
        $(document).ready(function () {
            console.log("ready!");
            getPrize(@ViewBag.Position);
        });
    </script>
}

   

