@{
    ViewBag.Title = "Prize Page";
}
 <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <title>@ViewBag.Title</title>   
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Content/sb-admin.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">   
</head>
<body>
    <ol class="breadcrumb">
        Actual prize list       
    </ol>     
    <div>
        
        @Html.ActionLink(" Add new prize", "Create", "Prize")
    </div>
        <div class="myContainer" id="divResult"/>    
</body>
@section Scripts
{   
    <script src="~/Scripts/App/Prizes/prizeService.js"></script>
    <script src="~/Scripts/App/Prizes/homeIndex.js"></script>
}   




